extends ../templates/layout

block content
    h2 Configuration of ID #{id}

    form(action="", method="post")
        .form--field
            label Room
            select(name="room").form--element
                option Select a room...
                if rooms
                    each room in rooms
                        option(value= room)= room
                option(value="-1") New room

        each prop, key in format
            .form--field
                label= prop.description

                if prop.type === 'number'
                    input(name= key, type="number", value= config ? config[prop] : prop.default ? prop.default : "").form--element
                if prop.type === 'string'
                    input(tname= key, ype="text", value= config ? config[prop] : prop.default ? prop.default : "").form--element
                if prop.type === 'select'
                    select(name= key).form--element
                        each opt in prop.values
                            option(value= opt)= opt

                if prop.type === 'object'
                    each subprop, subkey in prop.properties
                        .form--field--sub
                            label= subprop.description

                            if subprop.type === 'number'
                                input(name= key +'.'+ subkey, type="number", value= config ? config[prop][subprop] : subprop.default ? subprop.default : "").form--element
                            if subprop.type === 'string'
                                input(name= key +'.'+ subkey, type="text", value= config ? config[prop][subprop] : subprop.default ? subprop.default : "").form--element
                            if subprop.type === 'select'
                                select(name= key +'.'+ subkey).form--element
                                    each opt in subprop.values
                                        option(value= opt, checked=config ? config[prop][subprop] === opt : subprop.default ? subprop.default === opt : false)= opt

        button(type="submit").btn__primary= config ? 'Update Configuration' : 'Complete Setup'

