extends ../templates/layout

block content
    h2 Dashboard

    p Connected clients: #{Object.keys(clients).length}
    .flex-grid__3
        each c, id in clients
            .client.card.flex--item
                .card-body
                    h4.card-title #{c.displayName} #{c.config ? '@ ' + c.config.room : ''}
                    ul.list-unstyled.client--list
                        li.client--id ID:
                            span.value= c.id

                        if c.displayData
                            each d, key in c.displayData
                                if d.data.type === 'boolean'
                                    li(class="client--" + d.data.type)= d.data.description + ': '
                                        span.value
                                            label.form--switch
                                                input(type="checkbox", checked= d.data.value, disabled)
                                                span.form--slider.round
                                else
                                    li(class="client--" + d.data.type)= d.data.description + ': '
                                        span.value= d.data.value

                    //- != JSON.stringify(c.config)
                    
                    if !c.config
                        p Client isn't configured yet. Please set it up in order to use the client.
                        a(href="/config/" + c.id).btn__primary Setup
                    else
                        a(href="/config/" + c.id).btn__primary Configure
        else
            p No clients connected yet
