extends ../templates/layout.pug

block content
    h2 Dashboard

    p Connected clients: #{Object.keys(clients).length}
    .grid--row
        each c, id in clients
            - hasConfig = c.config && Object.keys(c.config).length;

            .grid--col-large-6.grid--col-xlarge-4
                .client.card
                    .card-body
                        h4.card-title #{c.displayName} #{hasConfig ? '@ ' + c.config.room : ''}
                        ul.list-unstyled.client--list
                            li.client--id ID:
                                span.value= c.id
                            if !hasConfig
                                li.client--plugin Plugin:
                                    span.value= c.plugin

                            if c.displayData
                                each d, key in c.displayData
                                    li(class='client--' + d.data.type) #{d.data.description}:
                                        if d.data.type === 'boolean'
                                            span.value
                                                label.form--switch
                                                    input(type='checkbox', checked= d.data.value, disabled)
                                                    span.form--slider.round
                                        else if d.data.type === 'homekitpin'
                                            .homekitpin
                                                .pin= d.data.value
                                        else
                                            span.value= d.data.value

                        //- != JSON.stringify(c.config)

                        if !hasConfig
                            p Client isn't configured yet. Please set it up in order to use the client.
                            a.btn.btn__primary.client--button(href='/config/' + c.id) Setup
                        else
                            a.btn.btn__primary.client--button(href='/config/' + c.id) Configure
        else
            .grid--col-small-12 No clients connected yet
