extends ../templates/layout

block content
    h2 Hello World!

    h3 Connected clients: #{Object.keys(clients).length}
    each c, id in clients
        ul 
            li.client--id ID: #{c.id}
            li.client--module Module: #{c.module}
            li.client--room Room: #{c.room}

            each d, key in c.displayData
                li(class="client--" + d.data.type)= d.data.description + ': ' + d.data.value
                //- != JSON.stringify(d)
    else
        p No clients connected yet
