extends ../templates/layout

block content
    h2 Hello World!

    h3 Connected clients: #{Object.keys(clients).length}
    each c, id in clients
        div.client
            ul 
                li.client--id ID: #{c.id}
                li.client--module Plugin: #{c.plugin}

            if c.config
                ul
                    li.client--room Room: #{c.room}
            else
                p Client isn't configured yet. Please do this in order to use the client.

            a(href="/config/" + c.id) Configure

            if c.displayData
                ul
                    each d, key in c.displayData
                        li(class="client--" + d.data.type)= d.data.description + ': ' + d.data.value
                        //- != JSON.stringify(d)
    else
        p No clients connected yet
