extends ../templates/layout

block content
    h2 Dashboard

    p Connected clients: #{Object.keys(clients).length}
    .flex-grid__3
        each c, id in clients
            .client.card.flex--item
                .card-body
                    h4.card-title #{c.plugin} #{c.config ? '@ ' + c.config.room : ''}
                    ul.list-unstyled
                        li.client--id ID: #{c.id}

                        if c.displayData
                            each d, key in c.displayData
                                li(class="client--" + d.data.type)= d.data.description + ': ' + d.data.value

                    //- != JSON.stringify(c.config)
                    
                    if !c.config
                        p Client isn't configured yet. Please set it up in order to use the client.
                        a(href="/config/" + c.id).btn__primary Setup
                    else
                        a(href="/config/" + c.id).btn__primary Configure
        else
            p No clients connected yet
